// Configuration
@import "bootstrap/scss/functions";
// @import "fontawesome-free/css/brands";
@import '@fortawesome/fontawesome-free/css/all.css';

$text: #07050f;
$background: #f2f0fb;
$primary: #664ccc;
$secondary: #9c88e8;
$accent: #795de6;
$font-family-base: "Merriweather-Sans";
$headings-font-family: "Merriweather";
$headings-font-weight: 700;

@import "bootstrap/scss/variables";

$colors: (
  //   "blue": $blue,
  //   "indigo": $indigo,
  //   "purple": $purple,
  //   "pink": $pink,
  //   "red": $red,
  //   "orange": $orange,
  //   "yellow": $yellow,
  //   "green": $green,
  //   "teal": $teal,
  //   "cyan": $cyan,
  "black": $black,
  "white": $white,
  //   "gray": $gray-600,
   //   "gray-dark": $gray-800,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  //   "success": $success,
  //   "info": $info,
  //   "warning": $warning,
  //   "danger": $danger,
  "light": $light,
  "dark": $dark,
  "accent" : $accent,
);

@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
 @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// // Helpers
@import "bootstrap/scss/helpers";

// // Utilities
@import "bootstrap/scss/utilities/api";
